@charset "UTF-8";
/* Links */
	A:link {color: darkblue; text-decoration:none}
  	A:visited {color:darkblue; text-decoration:none}
  	A:hover {color: red; text-decoration:underline}

	A.breadcrumblink {text-decoration:none; font-size: 12px}
	A.breadcrumblink:link {color: #FFFFFF}
  	A.breadcrumblink:visited {color:#FFFFFF}
  	A.breadcrumblink:hover {color: red; text-decoration:underline}

/* Body */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	background-color: #f2f2f2;
	margin: 10px;
	font-style: normal;
	font-weight: 200;
}
.gentext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 0;
	font-style: normal;
	font-weight: 200;
}
.sectiontext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	margin: 14px;
	font-style: normal;
	font-weight:600;
}
/* Container */
.container {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
.container2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
.banner {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #2D9AB7;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.logo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14pt;
	text-align: -moz-left;
	width: 100%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
/* table Section */
table {
	color: #101010;
	text-align: left;
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: #2D9AB7;
	vertical-align:top;
	min-height: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 1px 10px;
}
.tabledata {
	text-align: right;
	padding-left: 25px;
	color: #101010;
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: #2D9AB7;
	vertical-align:top;
	min-height: 10px;
	padding-right: 5px;
	margin: 1px 10px;
}
.tabledataleft {

	padding-right: 35px;
	color: #101010;
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: #2D9AB7;
	vertical-align:top;
	min-height: 10px;
	padding-left: 5px;
	margin: 1px 10px;
}

.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 0;
	background-repeat: repeat;
}
.breadcrumbtext{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12pt;
	margin-left: 25px;
}
