<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>UCL Department of Earth Sciences - Tombola Server</title>
<link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body onload="getstatusdata()">

    <section class="banner">
		  <div >
               <P class="logo">UCL Department of Earth Sciences - Tombola Server Status &nbsp CPU <strong id="123-cpu">awaiting-data</strong>&deg;C</P>
              <p class="breadcrumbtext"><a href = "/" class="breadcrumblink">Return to index</a> &nbsp|&nbsp
              <a href = "/pylog" class="breadcrumblink">Application Log</a> &nbsp|&nbsp
              <a href = "/guaccesslog" class="breadcrumblink">Website Access Log</a> &nbsp|&nbsp
              <a href = "/guerrorlog" class="breadcrumblink">Website Error Log</a> &nbsp|&nbsp
              <a href = "/syslog" class="breadcrumblink">System Log</a></p><br>
          </div>
  </section>
<section class="container2">
    <p class="sectiontext">V20 Motor Controller Values</p>
        <table border = 1px cellspacing = 0>
            <thead>
                <td class="tabledataleft"><B>Register</B></td>
                <td class="tabledataleft"><B>Actual Value</B></td>
                <td class="tabledataleft"><B>Requested Value</B></td>
            </thead>
            <tr>
                    <td class="tabledataleft">Running</td>
                    <td class="tabledataleft" id="123-running">&nbsp;</td>
                    <td class="tabledataleft" id="456-running">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Direction</td>
                    <td class="tabledataleft" id="123-direction">awaiting-data</td>
                    <td class="tabledataleft" id="456-direction">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Frequency</td>
                <td class="tabledataleft"> <slot id="123-frequency">awaiting-data</slot> (Hz)</td>
                <td class="tabledataleft"><slot id="456-frequency">awaiting-data</slot> (%)</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Voltage</td>
                <td class="tabledataleft"><slot id="123-voltage">awaiting-data</slot> (V)</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Current</td>
                <td class="tabledataleft"><slot id="123-current">awaiting-data</slot> (A)</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Motor RPM</td>
                    <td class="tabledataleft" id="123-rpm">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Tombola RPM</td>
                    <td class="tabledataleft" id="123-tom-rpm">awaiting-data</td>
            </tr>

      </table>
    <p>&nbsp</p>
    <p class="sectiontext">Change Settings</p>
    <table border = 1px cellspacing = 0>
            <tr>
                    <form id="startform">
                    <td class="tabledataleft"><button class="gentext" form="startform" formmethod="POST" onclick="location.href='/'">Start Tombola</button></td>
                    <td class="tabledataleft">Frequency (% x 100): <input class="gentext" type="text" name="setfreq" value="{{frequency}}"> (0 - 10000)</td>
                    </form>
            </tr>
            <tr>
                <form id="stopform">
                    <td class="tabledataleft"><button class="gentext" form="stopform" formmethod="POST"  onclick="location.href='/'">Stop Tombola</button></td>
                     <input type="hidden" name="stop" value="1">
                </form>
            </tr>
            <tr>
                <form id="timeform">
                    <td class="tabledataleft"><button class="gentext" form="timeform" formmethod="POST"  onclick="location.href='/'">Update Stop Time</button></td>
                     <td class="tabledataleft">Stop Time: <input class="gentext" type="text" name="stoptime" value="{{stoptimer['stoptime']}}"> (HH:MM:SS)</td>
                     <td class="tabledataleft">Auto Stop: <input class="gentext" type="checkbox" name="autostop" value=1 {% if stoptimer['autostop'] == 1 %} checked=true {% endif %}></td>
                </form>
            </tr>
            <tr>
                <form id="resetform">
                <td class="tabledataleft"><button class="gentext" form="resetform" formmethod="POST"  onclick="location.href='/'">Reset v20</button></td>
                <input type="hidden" name="reset" value="1">
                <td class="tabledataleft">To be used after a power cycle of the v20 controller to reset the running parameters</td>
                </form>
            </tr>
    </table>

    <p>&nbsp</p>
</section>
  <section class="banner">
 <div class ="copyright"><strong>Software Version</strong> {{version}}<br>&copy;2024 - <strong>UCL Department of Earth Sciences</strong></div>
	  </section>

<script>

setInterval(getstatusdata, 5000);


async function getstatusdata() {
  const response = await fetch("/statusdata");
  const statusdata = await response.json();
  var idtoupdate = document.getElementById('123-cpu');
  idtoupdate.innerHTML = statusdata.cpu;
  var idtoupdate = document.getElementById('456-running');
  idtoupdate.innerHTML = statusdata.running;
  var idtoupdate = document.getElementById('123-direction');
  idtoupdate.innerHTML = statusdata.direction;
  var idtoupdate = document.getElementById('456-direction');
  idtoupdate.innerHTML = statusdata.reqdirection;
  var idtoupdate = document.getElementById('123-frequency');
  idtoupdate.innerHTML = statusdata.frequency;
  var idtoupdate = document.getElementById('456-frequency');
  idtoupdate.innerHTML = statusdata.reqfrequency;
  var idtoupdate = document.getElementById('123-voltage');
  idtoupdate.innerHTML = statusdata.voltage;
  var idtoupdate = document.getElementById('123-current');
  idtoupdate.innerHTML = statusdata.current;
  var idtoupdate = document.getElementById('123-rpm');
  idtoupdate.innerHTML = statusdata.rpm;
  var idtoupdate = document.getElementById('123-tom-rpm');
  idtoupdate.innerHTML = statusdata.tombola_speed;

}

</script>
</body>
</html>
