<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>UCL Department of Earth Sciences - Tombola Controller</title>
<link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">


<script>

setInterval(getstatusdata, 5000);


async function getstatusdata() {
  const response = await fetch("/statusdata");
  const statusdata = await response.json();
  var idtoupdate = document.getElementById('123-cpu');
  idtoupdate.innerHTML = statusdata.cpu;

}

</script>

</head>
<body onload="getstatusdata()">
    <section class="banner">
		  <div >
               <P class="logo">UCL Department of Earth Sciences - Tombola Controller Status &nbsp CPU <strong id="123-cpu">awaiting-data</strong>&deg;C</P>
              <p class="breadcrumbtext"><a href = "/" class="breadcrumblink">Return to index</a> &nbsp|&nbsp
              <a href = "/webcam" class="breadcrumblink">Web Camera View</a> &nbsp|&nbsp
              <a href = "/pylog" class="breadcrumblink">Application Log</a> &nbsp|&nbsp
              <a href = "/guaccesslog" class="breadcrumblink">Website Access Log</a> &nbsp|&nbsp
              <a href = "/guerrorlog" class="breadcrumblink">Website Error Log</a> &nbsp|&nbsp
              <a href = "/syslog" class="breadcrumblink">System Log</a></p><br>
          </div>
  </section>
<section class="container2">
    <p class="sectiontext">Camera View</p>
        <table >
            <tr>
                <td class="tableimage"><img src="{{ url_for('video_feed') }}" alt=" Webcam feed"></td></tr>
            </tr>
      </table>
    <p>&nbsp</p>
    <p class="sectiontext">Stop Tombola</p>
    <table>
            <tr>
                <form id="stopform">
                    <td class="tabledataleft"><button class="gentext" form="stopform" formmethod="POST"  onclick="location.href='/'">Stop Tombola</button></td>
                     <input type="hidden" name="stop" value="1">
                </form>
            </tr>
    </table>

    <p>&nbsp</p>
</section>
  <section class="banner">
 <div class ="copyright"><strong>Software Version</strong> {{version}}<br>&copy;2024 - <strong>UCL Department of Earth Sciences</strong></div>
	  </section>

</body>
</html>
