[Unit]
Description=daemon for Tombola Controller Web Serice
After=network.target


[Service]
User=tompi
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/home/tompi/
ExecStart=/usr/bin/gunicorn3 --worker-class gthread --workers 1 --threads 1000 --bind=unix:/tmp/gunicorn.sock --access-logfile=/home/tompi/logs/gunicorn-access.log   --error-logfile=/home/tompi/logs/gunicorn-error.log  app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target

